<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <h1>Create Cluster</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.cluster_name.label }}<br>
            {{ form.cluster_name(size=32) }}<br>
            {% for error in form.cluster_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=100) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.cluster_type.label }}<br>
            {{ form.cluster_type }}<br>
            {% for error in form.cluster_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.cluster_os.label }}<br>
            {{ form.cluster_os }}<br>
            {% for error in form.cluster_os.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
                <p>
            {{ form.node_count.label }}<br>
            {{ form.node_count }}<br>
            {% for error in form.node_count.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}